 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Vy is a current UC Berkeley student, studying computer science and cognitive science. Her hobbies include playing Settlers of Catan with friends and occasional basketball pick-up games.</p>
                </div>
                <div class="col-lg-4">
                    <p>Vy's professional interests include human computer inferface and artificial intelligence. She is currently seeking a research position.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <a href="downloads/resume.pdf" download="vylyresume" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
        <div>
    </section>